

<div class="chart-container">
	<%= pie_chart(@data_category_chart[:data_name_and_money],
		id: 'pie-chart', width: "100%", height: "40em",
		colors: @data_category_chart[:data_colors].values,		
	    legend: 'right',
	    responsive: true
	) %>
</div>
