<article class="content-container-main-center">
	<section class="content-section">
		<%= render(partial: 'form', locals: {
			accounting_object: @acc_object_user, 
			select_kind_of_object: @select_kind_of_object, 
			url: accounting_object_path(@acc_object_user.id),
			method_action: :patch}) %>
	</section>			
</article>