
<article class="content-container-main-center">
	<section class="content-section">
		<% if @accounting_objects.present? %>
			
			<%= render(partial: 'show_objects', locals: {accounting_objects: @accounting_objects})  %>
			
		<% else %>

			<%= render(partial: 'form', locals: {
				accounting_object: @accounting_object_new, 
				select_kind_of_object: @select_kind_of_object,
				url: accounting_object_post_path,
				method_action: :post}) %>

		<% end %>
	</section>
</article>

<script>
	<%# 
	document.getElementById('btn-create-object').addEventListener('click', function() {
    // Прячем кнопку
    this.style.display = 'none';
    document.getElementById('text-create-object').style.display = 'none';

    // Показываем форму
    document.getElementById('ContetnFormObject').style.display = 'flex';
});
 %>
</script>