<%# provide(:title_name, 'Депозитный калькулятор' ) %>
<%# render_navbar  %>

<article>
	<section class="guest_container_image_main">	
		<%= image_tag("image_guest_main.jpg", class: 'guest_image_main') %>
	</section>	
</article>