<article class="content-container-main-center">
	<section class="content-section-session ">
		<%= render(partial: 'form', locals: {object_user: @user, controller: 'session'}) %>
	</section>
</article>