  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>О нас</h5>
        <ul class="list-unstyled">
          <li><a href="/about">О компании</a></li>
          <li><a href="/contact">Контакты</a></li>
        </ul>
      </div>
      
      <div class="col-md-4">
        <h5>Полезные ссылки</h5>
        <ul class="list-unstyled">
          <li><a href="/terms">Условия использования</a></li>
          <li><a href="/privacy">Политика конфиденциальности</a></li>
        </ul>
      </div>
      
      <div class="col-md-4">
        <h5>Поддержка</h5>
        <address>
          Email: support@example.com<br>
          Телефон: +7 (XXX) XXX XX XX
        </address>
        
        <ul class="social-icons list-unstyled">
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
    
    <hr>
    
    <div class="text-center py-3">
      &copy; 2025 Моя компания. Все права защищены.
    </div>
  </div>