.wrapper-guest {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto 1fr auto;
	padding: 0 2em;
}

.wrapper-guest > header {
	grid-column: 6/13;
	grid-row: 2/3;
	background-color: #CCEFFF;
	min-height: 100vh;
}

.wrapper-guest > main {
	grid-column: 1/6;
	grid-row: 1/3;
	min-height: 100vh;
	background-color: #CCEFFF;
}

.wrapper-guest > footer {
	grid-column: 1/13;
	grid-row: 3;
	min-height: 100px;
}

/*image*/

.guest-container-image-main {
	overflow: hidden;
	max-height: 999px;
}

.guest-image-main {	
	position: relative;
	left: -12em;
	
}

/*main header conbtainer*/

.guest-header-contaier-main {
	padding-left: 5em;
}

/*nav bar*/

.guest-nav-bar-container {
	font-size: 1em;
	display: flex;
	justify-content: space-between;	
	background-color: #CCEFFF;
	padding-right: 2em;
	padding-top: 1em;
	font-size: 1.5em;
}


.guest-contianer-logo {	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.navbar-logo {	
    width: 3em;
}

.guest-navbar-logo-noreq {
	width: 3em;
}

.guest-list-links {
	list-style: none;
	display: flex;
	justify-content: space-between;
	gap: 1em;
	align-items: center;
}

.guest-menu-sign {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
}

.guest-menu-sign > .sign-in {
	color: #000;
	text-decoration: none;
}


.guest-menu-sign > .sign-up {
	color: #000;
	text-decoration: none;
	border: 2px solid;
	border-radius: 0.5em;
	padding: 5px 10px;
	background-color: #93DAFB;
}


/*content*/

.guest-content-contaier-main {
	padding-left: 5em;
	padding-top: 6em;
	margin-bottom: 1em;
}


.guest-content-container {
	min-height: 50%;	
}

.guest-test-fat {
	font-size: 3em;
	font-weight: bold;
	margin-bottom: 0.3em;
}

.guest-bot-text {
	font-size: 1.2em;
}

.guest-conteiner-content-btn {
	padding-top: 2em;
}

.guest-content-btn {	
	color: #000;
	text-decoration: none;
	border: 2px solid;
	border-radius: 0.5em;
	padding: 5px 10px;	
	background-color: #93DAFB;
	font-size: 1.5em;
}

.guest-content-btn:hover {
	background-color: #CCEFFF;
}

.guest-content-container-section-three {
	padding-left: 5em;
	padding-top: 5em;
}

.guest-card-wrapper {	
	display: flex;
	justify-content: space-between;
	max-width: 80%;
}

.guest-card {
	display: flex;
	flex-direction: column;
	width: 14em;
}

.guest-image-caption {
	font-size: 1.2em;
}