/*

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto 1fr auto;	

}

header {	
	grid-column: 2 / span 10;
	grid-row: 1;
	background-color: #142936;

}

main {
	grid-column:  2 / span 10;
	grid-row: 2;	
	background-color: #e6f7ff;

	height: auto;
}

footer {
	grid-column: 2 / span 10;
	grid-row: 3;
	background-color: #142936;
}
*/

.wrapper {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header, footer {
  background-color: #142936;
}

main {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #e6f7ff;
}