<article class="content-container-main-center">
	<section class="content-section-operation">
		<%= render(partial: 'form', 
		locals: {operation: @operation, 
			operation_encod: @operation_encod, 
			id_encod_operation: @operation_encod}
		)  %>
	</section>
</article>		
