<article class="content-container-main-center">
	<section class="content-section-operation">
		<div style="margin-top: 3em;">
			<%= link_to('Ваши список объектов', accounting_object_index_path, class: 'btn-user-action') %>
		</div>
	</section>
</article>		

