<article class="content-container-main-center">
	<section class="content-section-operation">
		<%= render(partial: 'form', 
		locals: {operation: @operation,
			id_encod_operation: false}
		)  %>
	</section>
</article>		

